/target
/.idea
/avenger-wgpu/tests/output/
.DS_Store
examples/wgpu-winit/pkg/
examples/wgpu-winit/target/
examples/scatter-panning/pkg/
examples/scatter-panning/target/
scratch/

# pixi environments
.pixi

/avenger-python/avenger/_avenger.abi3.so
__pycache__/