/target
/.idea
/avenger-wgpu/tests/output/
.DS_Store
examples/*/pkg/
examples/*/target/
scratch/

# pixi environments
.pixi

/avenger-python/avenger/_avenger.abi3.so
__pycache__/
/avenger-wasm/dist/
/examples/deno_png/chart.png
/avenger-vega-renderer/test/failures/
/avenger-chart/tests/failures/*.png
/avenger-vega-renderer/lib/
/avenger-vega-renderer/packed/*
/avenger-vega-renderer/dist-deno/
examples/wgpu-scales/geometry.svg
examples/iris-pan-zoom/geometry.svg
.vscode/launch.json

avenger-lang-preview/preview.avgr
/avenger-vega-test-data/target/
/tasks/
